#{extends 'main.html' /}
#{set title:'Home' /}


#{form @Auctions.save()}
 
    #{ifErrors}
        <p class="error">
            Please input ammount
        </p>
    #{/ifErrors}
    <p>
    
	<label>Email address</label> 
	<input name="email" id ="email">
     <label>Name</label>
    <input name="name" id="name"/>
    
    <label>tags</label>
<input name="tags" id="tags"/>

<label>description</label>
<textarea name="description" id="description"></textarea>

<label>image</label>
<input name="image" id="image"/>

<label>price</label>
<input name="price" id="price"/>
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
#{/form}
