#{extends 'main.html' /}
#{set title:'Home' /}

#{list auction?.tags}
	<a style="margin:5px"href="@{Tags.view(_.id)}" class="btn">
	<i class="icon-tag"></i>
	${_.name}
	</a>
#{/list}
<p></p>
<p>You are viewing <strong>${auction?.name}</strong>.</p>



<p>${auction?.description}</p>
<p>Merchant asks for: $${auction?.price}</p>
<hr>

<p>Offers</p>
<ul>
#{list auction?.bids}
<li>$${_.offer}</li>
#{/list}
</ul>

<hr>

#{form @Bids.createBid(auction.id)}
 
    #{ifErrors}
        <p class="error">
            Please input ammount
        </p>
    #{/ifErrors}
    <p>
        <label for="ammount">Make an offer: </label>
        $&nbsp;<input name="ammount" id="ammount"/>
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
#{/form}


<div>
<p>TODO:</p>
<li>For this page, make the bid add without page reload. Also make bids editable by just clicking the field.</li>
<li>
Prevent Bids from being negative.
</li>
</div>
