#{extends 'main.html' /}
#{set title:'Home' /}


<div class="row">
	<div class="span4">
		What would you like to find? 
		<form action="#/search" method="GET">
			<input onkeyup="lookup(this.value)" id="searchField"></input>
		</form>
		<h3>Tags</h3>
		<div id="tags">
		</div>
	</div>
	
	
	
	<div class="span8">
		<h3>Auctions</h3>
		<div id="auctions">
		</div>
	</div>
		
</div>
<hr>
<div class="row">
	<div class="span12">
	<h3>TODO</h3>
	<ul>
	<li>Well, this page has to have items loaded</li>
	
	</ul>
	
	</div>

</div>


<script>

function lookup(inputString) {
	if(inputString.length == 0) {
		$('#suggestions').fadeOut(); // Hide the suggestions box
	} else {
		var action = #{jsAction @searchAuction(':itemName') /}
	   $('#auctions').load(
	       action({itemName : inputString}), 
	       function() {
	           $('#auctions').css('visibility', 'visible')
	       }
	   );
		var tagAction = #{jsAction @searchTag(':itemName') /}
	   $('#tags').load(
	       tagAction({itemName : inputString}), 
	       function() {
	           $('#tags').css('visibility', 'visible')
	       }
	   );
	}
}

/* 
(function($){
	
	var app = $.sammy('#auctions', function(){
		this.get('#/', function(callback) {
			this.log("Started!");
		});
		
		this.get('#/search', function(callback) {
			var action = #{jsAction @searchItem(':itemName') /}
			var name = $('#searchField').attr('value');
			this.log("Enter registered!" + name);
			this.partial(action(name));	
		});
		

	});
	var tags = $.sammy('#tags', function(){
		this.get('#/', function(callback) {
			this.log("Started!");
		});
		
		this.get('#/search', function(callback) {
			var action = #{jsAction @searchTag(':itemName') /}
			var name = $('#searchField').attr('value');
			this.log("Enter registered!" + name);
			this.partial(action(name));	
		});
	})
	
	$(function(){
		app.run('#/');
		tags.run('#/');
	});
	
	
	
})(jQuery);
 */


</script>