#{extends 'main.html' /}
#{set title:'Home' /}
<div class="row">
<div class="span4">
<h3>Popular Tags</h3>
#{list tags}

<a style="margin:5px 3px "href="@{Tags.view(_.id)}" class="btn">
<i class="icon-tag"></i>
${_.name}
</a>

#{/list}
</div>




<div class="span8">
<h3>Recent Auctions</h3>
<ul>
#{list auctions}
<li><a href="@{Auctions.view(_.id)}"><strong>${_.name} </strong> - ${_.description} </a></li>
#{/list}
</ul>
</div>


</div> <!--  First row -->


<div class="row">
<hr>

<div class="span4">
<h3>TODO</h3>
<ul>
<li>Make the category show up on the Make Auction page</li>
<li>Filter the front page by categories</li>
<li>Make the explore page</li>
<li>Tags can be duplicated</li>
</ul>
</div>

</div>

