<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/sammy.js'}" type="text/javascript" ></script>
        #{get 'moreScripts' /}
    </head>
    
    
    <body>
    <div class="container">
    


    
    <div class="container">
        <p><h1>a<sup>2</sup>exchange!</h1></p>
	    
	    <p>An online freemarket built by Ann Arbor.</p>
	     
	    <p>We juiced up our server to the max to make your experience enjoyable. 
	    Why? Because we are local, we can, and we care about fellow Ann Arborians.</p>
    </div>
    
        <div class="navbar"><div class="navbar-inner"><div class="container">
        
    <ul class="nav nav-pills">
    	<li><a href="/">Home</a></li>
    	<li><a href="/search/items">Search for Shings</a></li>
    	<li><a href="/create/auction">Make an Auction</a></li>
    	<li><a href="/explore">a<sup>2</sup>explore!</a></li>
    </ul>
    </div></div></div>
    
    
        #{doLayout /}
        
        </div>
    </body>
</html>
